@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.my-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1.75rem;
  width: min(90%, 68.5rem);
  margin-inline: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
  }

main {
    padding: 16px;
  }

  footer {
    position: fixed;
    width: 100%;
    padding: 16px;
    bottom: 0;
    background-color: lightgreen
  }

  img {
    height: 160px;
  }

  nav {
    border-bottom: 2px solid black;
    padding: 16px;
    background-color: red;
  }

  nav > a {
    color: white;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color:green;
  }

  h1 {
    color: #99FF33
  }

  h3 > a {
    color: green;
    text-decoration: none;
  }

  .light-grey tr:nth-child(even) {
      background-color: lightgrey;
  }
